*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
 --color0: white;
 --color1: #ccc;
 --color2: black;
 --color3: red;
}

body{
    background-color: var(--color1);
    font-size: 16px;
}

/* MOBILE */ 

header{
    display: none;
}

label{
    color: var(--color2);
}

/* MENU HAMBURGUER */
#hamburguer{
    text-align: center;
    font-size: 40px;

    display: block;

    cursor: pointer;

    background-color: var(--color0);
}

#container-menu{
    width: 50%;
    height: auto;
    background-color: var(--color0);
    display: none;
    position: absolute;


}

#container-menu a{    
    font-size: 1em;
    text-decoration: none;    
    margin-left: 20px;
    font-weight: bold;
    color: var(--color3);
}

#container-menu .container{
    padding: 10px;
}
#container-menu .container ul{
    list-style: none;
}

#container-menu .container ul li{
    margin-top: 10px;
    text-align: center;
}

#container-menu .container ul li a{
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
    color: var(--color2);
}

#menu{
    display: none;
}


/* MODAL  */
.modal-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.829);
    position: fixed;
    top: 0;
    
    transition: all 0.5s;
}

.modal-container .modal{
    width: 90%;
    height: 50vh;
    margin-left: 5%;
    margin-top: 25vh;
    background-color: var(--color0);
    border-radius: 10px;
    position: fixed;
    top: 0;
}

.modal-container .modal button{
    width: 30px;
    height: 30px;
    float: right;

    background-color: var(--color3);
    border: none;
    outline: none;

    font-size: 15pt;

    cursor: pointer;

    margin: 5px;

    transition: all 0.5s;
}
.modal-container .modal button:hover{
    border-radius: 50%;
}

input[type=checkbox]{
    display: none;
}

@media (min-width: 800px) {
    header{
        width: 100%;
        height: 50px;
        background-color: var(--color0);
        display: inline-block;

        display: block;
    }
    
    header a{    
        font-size: 1.5em;
        text-decoration: none;    
        margin-left: 20px;
        font-weight: bold;
        color: var(--color3);
    }
    
    header .container{
        padding: 10px;
        float: right;
    }
    
    header .container a{
        font-size: 1.3em;
        text-decoration: none;
        margin-right: 10px;
        font-weight: bold;
        color: var(--color2);
    }
    
    /* MENU HAMBURGUER */
    #hamburguer{
        display: none;
    }
    
    #container-menu{
        display: none;
    }
    
    
    
    /* MODAL  */
    .modal-container{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.829);
        position: fixed;
        top: 0;
        
        transition: all 0.5s;
    }
    
    .modal-container .modal{
        width: 50%;
        height: 50vh;
        margin-left: 25%;
        margin-top: 25vh;
        background-color: --color0;
        border-radius: 10px;
        position: fixed;
        top: 0;
    }
    
    .modal-container .modal button{
        width: 50px;
        height: 50px;
        float: right;
    
        background-color: var(--color3);
        border: none;
        outline: none;
        padding: 10px;
    
        font-size: 20pt;
    
        cursor: pointer;
    
        margin: 5px;
    
        transition: all 0.5s;
    }
    .modal-container .modal button:hover{
        border-radius: 50%;
    }
    
}
